body > div, body >ol{
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    min-width: 200px;
}
.head {
    height:247px;
    box-shadow:5px 0px 20px black;
    padding: 1px 42px;
}
.head>div {
    margin: 105px auto;
}

h1 {
    text-align: center;
    font: message-box;
    font-size: 2em;
}
marquee {
    float: left;
    font: message-box;
    font-size: 1.5em;
    white-space: nowrap;
    width: 100%;
}
/*
label abcad9

70afcc   7385036
66a1bd   6726077   658959
5790ab   5738667   987410
4d8199   5079449   659218
*/
.container {
    z-index:-1;
    padding-top: 88px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 53px;
    min-width:285px;
    background: -moz-linear-gradient(top, rgba(77,123,143,0.9) 0%, rgba(79,156,194,0.9) 3%, rgba(79,156,194,0.92) 19%, rgba(23,87,120,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,123,143,0.9)), color-stop(3%,rgba(79,156,194,0.9)), color-stop(19%,rgba(79,156,194,0.92)), color-stop(100%,rgba(23,87,120,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(77,123,143,0.9) 0%,rgba(79,156,194,0.9) 3%,rgba(79,156,194,0.92) 19%,rgba(23,87,120,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(77,123,143,0.9) 0%,rgba(79,156,194,0.9) 3%,rgba(79,156,194,0.92) 19%,rgba(23,87,120,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(77,123,143,0.9) 0%,rgba(79,156,194,0.9) 3%,rgba(79,156,194,0.92) 19%,rgba(23,87,120,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(77,123,143,0.9) 0%,rgba(79,156,194,0.9) 3%,rgba(79,156,194,0.92) 19%,rgba(23,87,120,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64d7b8f', endColorstr='#175778',GradientType=0 ); /* IE6-9 */
}
.content {
    margin: 21px 12px;
    display: inline-block;
    width: 288px;
    height: 288px;
    opacity: 0.9;
    border-radius: 40px;
    border-style: solid;
    border-width: 4px;
}
.content * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.record {
    width: 240px;
    height: 60px;
    background-color:#b8d8e6;
    margin: 15px auto;
    /*overflow: hidden;*/
}
.record>div{
    padding:18px 18px 16px 18px;
    max-height: 27px;
    height: 27px;
    overflow: hidden;
    float: left;
    width: 205px;
}
.pic{
    width: 160px;
    height: 150px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;

}
.close {
    margin-left: auto;
    display: block;
    height: 24px;
    width: 24px;
    padding:2px;
}
.close:hover {
    height: 28px;
    width: 28px;
    padding: 0px;
}
.aux {
    margin: 21px 12px;
    display: inline-block;
    width: 288px;
    height: 288px;
    border-style: dashed;
    border-width: 4px;
    border-color: khaki;
    border-radius: 40px;
    background-color: rgba(240, 248, 255, 0.5);
}
.phantom {
    margin: 21px 12px;
    display: inline-block;
    width: 288px;
    height: 288px;
    padding: 4px;
}
.addFirst {
    margin: 21px 12px;
    display: inline-block;
    width: 288px;
    height: 288px;
    padding: 4px;
    background: rgba(0,0,0, 0.4) url("img/add.png");
    border-radius: 150px;
    background-size: contain;
    box-shadow:5px 0px 20px black;
    cursor: pointer;
}

.imgDiv {
    padding-top: 9px;
}
.contentInfo {
    display: block;
    width: 100%;
    height: 286px;
    padding: 1px;

}
.movement * {
    pointer-events: none;
}

.contentInfo>form {
    height: 70%;
    width: 70%;
    margin: 15px 43px 43px 43px;
}
.form-group {
    display: table-row;
    height: 51px;
}
.control-label {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.form-control {
    margin-top: auto;
    margin-right: auto;
    height: 70%;
    width: 200px;
}
fieldset {
    height: 100%;
    width: 100%;
}

.hoverDiv {
    z-index:100;
    width: 288px;
    height: 40px;
    position: relative;
    top: -37px;
    background-color: black;
    opacity: 0.7;
    box-shadow:5px 0px 20px black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius:  5px;
    border-top-left-radius:  5px;

}

.hoverDiv>div{
    background: url("img/sprite.png");
    height: 31px;
    width: 31px;
    margin-top: 10px;
    float: left;
    margin: 5px 32px;
}
.hoverDiv :nth-child(1) {
    background-position:  -324px -35px;
    cursor: pointer;
}
.hoverDiv :nth-child(2) {
    background-position:  -387px -160px;
    cursor: pointer;
}
.hoverDiv :nth-child(3) {
    background-position:  -324px -35px;
    cursor: pointer;
}
